.container{
    display: flex;
    margin: auto;
    margin-top: 35px;
    background: white;
    color: #262626;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 10px 15px;
}
.container hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 100px;
    height: 65px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container button.next-btn:hover{
    background: #4a3480;
}
.container button.submit-btn{
    margin: auto;
    width: 100px;
    height: 65px;
    color: #fff;
    background: #00d397;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.container button.submit-btn:hover{
    background: #00b07a;
}
.container .index {
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #ffebeb;
    border-color: #ff4a4a;
}